$headerColor: rgb(105, 28, 177);
$bodyColor: rgb(216, 215, 215);
$btnHover: rgb(171, 127, 212);
$dataTable: #fcfcfc;
$cardTotalLarge: rgb(132, 72, 189);
$cardTotalMedium: chartreuse;
$fontColor: #ffffff;