* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #d8d7d7;
  text-align: center;
}

body a {
  text-decoration: none;
  color: #ffffff;
}

body h3,
body p {
  font-size: 1.6rem;
  width: 80%;
  margin: auto;
  padding: 2rem;
}

body .material-icons {
  border: none;
  width: 2rem;
}

header {
  height: 27rem;
  background-color: #691cb1;
}

header .logo-header {
  background-color: #691cb1;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .logo-header h1 {
  font-size: 2rem;
}

header .logo-header .btnHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-header .btnHeader a img {
  width: 50px;
  border-radius: 50%;
}

header .logo-header .btnHeader button {
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  color: #ffffff;
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
  background-color: transparent;
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.2rem;
}

header .logo-header .btnHeader button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #ab7fd4;
}

.container {
  margin-top: -15rem;
}

.container h3 {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container p {
  text-align: justify;
  font-size: 3rem;
  font-weight: 600;
}

.container .card {
  position: relative;
  border-radius: 0.5rem;
  background: #ffffff;
  margin: 2.5rem auto;
  width: 90vw;
  height: 15rem;
}

.container .card .content {
  z-index: 10;
  position: relative;
}

.container .card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  z-index: 2;
}

.container #cardTotal {
  color: #ffffff;
  background-color: #691cb1;
}

#newCrud .newTransaction {
  margin: 0 0 1rem 4.5vw;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newCrud .newTransaction p {
  color: #691cb1;
  cursor: pointer;
  margin: 0.7rem;
  width: auto;
}

#newCrud .newTransaction span {
  color: #691cb1;
  width: 2rem;
  cursor: pointer;
}

#newCrud #data-table {
  font-size: 1.6rem;
  font-weight: 600;
  background: linear-gradient(45deg, #ff0058, #03a9f4);
  margin: 0 auto 10rem;
  width: 90vw;
  color: black;
  border-radius: 0.5rem;
}

#newCrud #data-table .header-table th {
  color: #1b0c0c;
}

#newCrud #data-table #table-finances tr {
  color: #ffffff;
}

footer {
  position: fixed;
  background-color: #691cb1;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1rem;
  color: #ffffff;
  padding: 0.5rem;
}

@media (min-width: 700px) {
  header {
    height: 220px;
  }
  .container {
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -120px auto 0;
  }
  .container .card {
    position: relative;
    max-width: 225px;
  }
  .container .card p {
    font-size: 20px;
  }
  .container .card .content {
    position: relative;
    z-index: 10;
  }
  .container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#691cb1), to(#d8d7d7));
    background: linear-gradient(90deg, #691cb1, #d8d7d7);
    background: linear-gradient(315deg, #03a9f4, #ff0058);
  }
  .container .card::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#691cb1), to(#d8d7d7));
    background: linear-gradient(90deg, #691cb1, #d8d7d7);
    background: linear-gradient(315deg, #03a9f4, #ff0058);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  .container .card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 5px;
    background: linear-gradient(45deg, #691cb1, #d8d7d7);
    opacity: 1;
    z-index: 2;
  }
  .container .card span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  #cardTotal {
    background: chartreuse;
  }
}

#newCrud #data-table,
#newCrud .newTransaction {
  width: 690px;
  margin: auto;
  padding: 0;
}

footer p {
  background: #691cb1;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: auto;
}

@media (min-width: 900px) {
  header {
    height: 220px;
  }
  .container {
    width: 890px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .card {
    border-radius: 5px;
    position: relative;
    max-width: 280px;
  }
  .container .card p {
    font-size: 25px;
  }
  .container .card .content {
    position: relative;
    z-index: 10;
  }
  .container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#691cb1), to(#d8d7d7));
    background: linear-gradient(90deg, #691cb1, #d8d7d7);
    background: linear-gradient(315deg, #03a9f4, #ff0058);
  }
  .container .card::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#691cb1), to(#d8d7d7));
    background: linear-gradient(90deg, #691cb1, #d8d7d7);
    background: linear-gradient(315deg, #03a9f4, #ff0058);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  .container .card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(white));
    background: linear-gradient(white);
    opacity: 1;
    z-index: 2;
  }
  .container .card span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(white));
    background: linear-gradient(white);
    opacity: 0.5;
    border-radius: 5px;
    pointer-events: none;
  }
  .container #cardTotal span {
    background: -webkit-gradient(linear, left top, left bottom, from(#691cb1));
    background: linear-gradient(#691cb1);
  }
  .container #cardTotal span::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#691cb1));
    background: linear-gradient(#691cb1);
  }
  .container .card:nth-child(3)::before,
  .container .card:nth-child(3)::after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
  }
  #cardTotal {
    background-color: #8448bd;
  }
  #newCrud #data-table,
  #newCrud .newTransaction {
    margin: auto;
    padding: 0;
    width: 870px;
  }
  footer p {
    background: #691cb1;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */